table{
    border:1px solid black;
    padding:5px;
    text-align: center;
    justify-content: center;
}
.imgSet
{
    width:70%;
    margin-left: 15%;
}
td{
    padding:10px;
}
thead{
    background-color:black;
    color:cyan;
}
.btn{
    color:rgb(19, 75, 230);
    padding:10px;
    margin-left:49%;
    font-weight:bolder;
}
.page{
    margin-left: 50.5%;
}
.btn1 {
    color: rgb(19, 75, 230);
    padding: 10px;
    margin-left: 1%;
    font-weight: bolder;
}